<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-links">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </div>
        <div class="footer-social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p class="footer-copyright">
        &copy; 2023 Your Website. All rights reserved.
      </p>
    </div>
  </footer>
  