
<div class="container">
<div class="row">
    <div class="col">    
    </div>

    <div class="col">
        <mat-card>
            <mat-card-content>
                <form>
                    <div class="form-group">
                        <label for="email">Email/User name</label>
                        <input type="email" id="email" class="form-control" placeholder="Entrez votre email/User name" required>
                    </div> 
                    
                    <br>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" required>
                    </div>
                    <br>                   
                </form>
                
                <button mat-raised-button color="primary">
                    Se connecter
                 </button>
            </mat-card-content>
        </mat-card>    
    </div>
    <div class="col">    
    </div>
</div>
</div>

