
<div class="container">
<div class="row">
    <div class="col">    
    </div>

    <div class="col">
        <mat-card>
            <mat-card-content>
                    <div class="form-group">
                        <label for="email">Email/User name</label>
                        <input type="email" id="email" class="form-control" placeholder="Entrez votre email/User name" required [(ngModel)]="username">
                    </div> 
                    
                    <br>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" required [(ngModel)]="password">
                    </div>
                    <br>                   
                
                <button mat-raised-button color="primary" (click)="login()">
                    Se connecter
                 </button>
                 <mat-error>{{error}}</mat-error>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">    
    </div>
</div>
</div>

