<mat-card>
  <mat-card-title>Ajouter un(e) élève</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="studentForm" class="form">
      <mat-form-field appearance="outline" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">Le nom est requis.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstname" required>
        <mat-error *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">Le prénom est
          requis.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="fill">
        <mat-label>Classe</mat-label>
        <input matInput formControlName="class" required>
        <mat-error *ngIf="class?.invalid && (class?.dirty || class?.touched)">La classe est requis.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="fill">
        <mat-label>Année scolaire</mat-label>
        <input matInput type="number" formControlName="year" required>
        <mat-error *ngIf="year?.invalid && (year?.dirty || year?.touched)">L'année est requise.</mat-error>
      </mat-form-field>

      <app-image-uploader (urls)="urlsUploaded($event)"></app-image-uploader>
      <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </form>
  </mat-card-content>
</mat-card>