<div class="container">
    <div class="row">
      <div class="col-sm">

        <mat-paginator 
        [pageSizeOptions]="[5, 10, 20]" 
        showFirstLastButtons 
        aria-label="Selection de la page des étudiants"
        (page)="handlePageTodo($event)" 
        class="demo-paginator" 
        [length]="dataTodo.totalDocs" 
        [pageSize]="dataTodo.limit" 
        [pageIndex]="dataTodo.page-1"></mat-paginator>
            <h2>Devoirs non rendu</h2>            
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    <mat-card>
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>
                                    {{item.nom}} 
                                </h3>
                            </div>
                            <div class="col-sm-4"  >
                                <img [src]="item.matiere?.at(0)?.matierePicture" alt=""  class="circular-image"> 
                                &nbsp;
                                <span>{{item.matiere?.at(0)?.name}}</span>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <img [src]="item.auteur?.at(0)?.picture" alt="" class="circular-image">
                            </div>
                            <div class="col-sm-5">
                                Nom : {{item.auteur?.at(0)?.firstname}}
                                Prénom : {{item.auteur?.at(0)?.name}}

                            </div>    
                            <div class="col-sm-5">
                                Note: {{item.note}} /20 <br> 
                                Date: {{item.dateDeRendu}}                            
                            </div>    
                        </div>
                    </mat-card>                    
                </div>
            </div>
      </div>
      <div class="col-sm">                    
        <mat-paginator 
        [pageSizeOptions]="[5, 10, 20]" 
        showFirstLastButtons 
        aria-label="Selection de la page des étudiants"
        (page)="handlePageDone($event)" 
        class="demo-paginator" 
        [length]="dataDone.totalDocs" 
        [pageSize]="dataDone.limit" 
        [pageIndex]="dataDone.page-1"></mat-paginator>
            <h2>Devoirs rendu</h2>
            
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    <mat-card>
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>
                                    {{item.nom}} 
                                </h3>
                            </div>
                            <div class="col-sm-4"  >
                                <img [src]="item.matiere?.at(0)?.matierePicture" alt=""  class="circular-image"> 
                                &nbsp;
                                <span>{{item.matiere?.at(0)?.name}}</span>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <img [src]="item.auteur?.at(0)?.picture" alt="" class="circular-image">
                            </div>
                            <div class="col-sm-5">
                                Nom : {{item.auteur?.at(0)?.firstname}}
                                Prénom : {{item.auteur?.at(0)?.name}}

                            </div>    
                            <div class="col-sm-5">
                                Note: {{item.note}} /20 <br> 
                                Date: {{item.dateDeRendu}}                            
                            </div>    
                        </div>
                    </mat-card>   
                </div>
            </div>
            </div>
    </div>
</div>



