<div class="container">
    <div class="row">
      <div class="col-sm">
            <h2>Devoirs non rendu</h2>            
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    <mat-card>
                        <p>{{item.nom}}</p>
                        <mat-divider></mat-divider>
                        <br>
                        <p>    
                            Note: {{item.note}}  <br> 
                            Date: {{item.dateDeRendu}}                            
                        </p>
                    </mat-card>                    
                </div>
            </div>
      </div>
      <div class="col-sm">                    
            <h2>Devoirs rendu</h2>
            
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    <mat-card>
                        <p>{{item.nom}}</p>
                        <mat-divider></mat-divider>
                        <br>
                        <p>    
                            Note: {{item.note}}  <br> 
                            Date: {{item.dateDeRendu}}                            
                        </p>
                    </mat-card>   
                </div>
            </div>
            </div>
    </div>
</div>



