<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
        {{ toolbarTitle }}
    </span>  
    <span class="example-spacer"></span>
   
    <span *ngIf="currentRoute !== '/login'">
        <button mat-raised-button (click)="login()">{{labelConnexion}}</button>
    </span>  
    &nbsp;&nbsp;
    <span *ngIf="isLogged()"> 
        <button mat-icon-button 
        matTooltip="{{nom}}"
        aria-label="Button that displays a tooltip when focused or hovered over">
            <mat-icon>account_circle</mat-icon> 
        </button>
    </span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="isSidenavOpen">              
        <mat-list>
            <mat-list-item routerLink="/home" (click)="toggleSidenav()">Accueil</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/assignments" (click)="toggleSidenav()">Devoirs</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/markAssignments" (click)="toggleSidenav()">Noter Devoirs</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/matieres" (click)="toggleSidenav()">Matières</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/students" (click)="toggleSidenav()">Elèves</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>      
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Contenu principal de l'application -->        
        <router-outlet></router-outlet>
       
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="spinner-overlay"  *ngIf="spinnerService.showSpinner">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<app-footer></app-footer>
