/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.circular-image {
    border-radius: 50%; /* Set the border radius to 50% to create a circular shape */
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    cursor:pointer;
  }
  